<% if user_signed_in? %>
  <%= render partial: 'layouts/sidebar-left' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mr-auto ml-auto">
      <%= render partial: 'users/user', locals: { user: @user, relationship: @relationship, posts: @user.posts.status_public } %>
      <ul class="nav-menu">
        <li class="nav-menu__item">
          <%= link_to 'フォロー中', user_followings_path(@user), class:'nav-menu__link is_active' %>
        </li>
        <li class="nav-menu__item">
          <%= link_to 'フォロワー',  user_followers_path(@user),class:'nav-menu__link' %>
        </li>
      </ul>
      <h2 class="title-secondary">フォロー中</h2>
      <% @followings.each do |user| %>
        <%= render partial: 'user', locals: { user: user } %>
      <% end %>
      <%= paginate @followings %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= render partial: 'layouts/sidebar-right' %>
<% end %>
