<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 m-auto">
      <h2 class="title-secondary">ユーザー情報編集</h2>
      <%= form_with model: @user, url: user_registration_path, local: true, method: :put do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>

        <table class="table table-striped table-form">
          <tbody>
            <tr>
              <td>
                <div class="table-form__field-name mb-2"><%= f.label :image, 'ユーザー画像' %></div>
                <div class="form-image-uploader">
                  <% if @user.image.present? %>
                    <div class="form-image-uploader__saved-img text-center">
                      <span class="form-image-uploader__saved-img-inner">
                        <%= image_tag @user.image.to_s %>
                      </span>
                    </div>
                    <div class="block-toggle">
                      <div class="block-toggle__press text-center">
                        <div class="btn btn-outline-secondary">
                          <i class="fas fa-arrow-circle-down"></i> 画像を変更する
                        </div>
                      </div>
                      <div class="block-toggle__content" style="display:none;">

                        <div class="form-image-uploader__flex">
                          <div class="form-image-uploader__col-preview">
                            <label for="user_image" class="form-image-uploader__preview">
                              <%= image_tag 'nophoto.jpg', class: 'form-image-uploader__preview-img' %>
                            </label>
                          </div>
                          <div class="form-image-uploader__col-input">
                            <div class="input-group">
                              <div class="form-file">
                                <%= f.file_field :image, class:'form-file-input form-image-uploader__save' %>
                                <%= f.hidden_field :image_cache, class:'form-image-uploader__cache' %>

                                <label class="form-file-label" for="user_image">
                                  <span class="form-file-text form-image-uploader__label">画像選択...</span>
                                  <span class="form-file-button">参照</span>
                                </label>

                              </div>
                              <span class="input-group-text form-image-uploader__cancel">取消</span>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  <% else %>
                    <div class="form-image-uploader__flex">
                      <div class="form-image-uploader__col-preview">
                        <label for="user_image" class="form-image-uploader__preview">
                          <%= image_tag 'nophoto.jpg', class: 'form-image-uploader__preview-img' %>
                        </label>
                      </div>
                      <div class="form-image-uploader__col-input">
                        <div class="input-group">
                          <div class="form-file">
                            <%= f.file_field :image, class:'form-file-input form-image-uploader__save' %>
                            <%= f.hidden_field :image_cache, class:'form-image-uploader__cache' %>

                            <label class="form-file-label" for="user_image">
                              <span class="form-file-text form-image-uploader__label">画像選択...</span>
                              <span class="form-file-button">参照</span>
                            </label>

                          </div>
                          <span class="input-group-text form-image-uploader__cancel">取消</span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="table-form__field-name mb-2 require"><%= f.label :name, 'ハンドルネーム' %></div>
                <div class="field">
                  <%= f.text_field :name, class:'form-control', placeholder:'ハンドルネーム' %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="table-form__field-name mb-2 require"><%= f.label :username, 'ユーザーID' %></div>
                <div class="field">
                  <%= f.text_field :username, class:'form-control', placeholder:'ユーザーID' %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="table-form__field-name mb-2 require"><%= f.label :email, 'Eメールアドレス' %></div>
                <div class="field">
                  <%= f.email_field :email, autofocus: true, autocomplete: 'email', class:'form-control', placeholder:'Eメールアドレス' %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="mb-3">
                  <div class="table-form__field-name mb-2"><%= f.label :password, '新しいパスワードを設定する' %></div>
                  <div class="field">
                    <%= f.password_field :password, autocomplete: 'new-password', class:'form-control', placeholder:'新しいパスワード' %>
                    <em>(※変更を希望されない場合、空白にしてください。)</em>
                    <% if @minimum_password_length %>
                      <div><em>(※<%= @minimum_password_length %>文字以上のパスワードを設定)</em></div>
                    <% end %>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="mb-2"><%= f.label :password_confirmation, '新しいパスワードをもう一度入力してください' %></div>
                  <div class="field">
                    <%= f.label :password_confirmation, class:'sr-only' %>
                    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class:'form-control', placeholder:'新しいパスワード(確認用)' %>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="mb-3">
                  <div class="table-form__field-name mb-2 require"><%= f.label :current_password, '現在のパスワード' %></div>
                  <div class="field">
                    <%= f.password_field :current_password, autocomplete: 'current-password', class:'form-control', placeholder:'現在のパスワード' %>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>


        <div class="actions">
          <%= f.submit '更新', class:'btn btn-lg btn-primary btn-block' %>
        </div>
      <% end %>

      <div class="mb-3">
        <h2 class="title-secondary">退会</h2>
        <div><%= button_to '退会する', registration_path(resource_name), data: { confirm: '本当に良いですか?' }, method: :delete, class:'btn btn-lg btn-secondary btn-block' %></div>
        <p>退会をご希望される場合は上記の「退会をする」をクリックしてください。</p>
      </div>

      <div class="mb-3"><%= link_to '戻る', :back, class:'btn btn-lg btn-secondary btn-block' %></div>
    </div>
  </div>
</div>
