<div class="comment-id-<%= comment.id %>">
  <div class="d-flex align-items-center">
    <%= render 'users/user-info', user: comment.user %>
    <small class="color-text-l-gray ml-auto"><%= l comment.created_at %></small>
  </div>
  <div><%= comment.content %></div>
  <% if current_user == comment.user %>
    <small class="text-right d-block"><%= link_to '削除', post_comment_path(post, comment), method: :delete, remote: true %></small>
  <% end %>
  <hr>
</div>
