<div>
  <%
    notifications.each do |notification|
      visitor = notification.visitor
      visited = notification.visited
  %>
    <div class="block-notifications">
      <span class="block-notifications__user">
        <%= link_to user_path(visitor), class:'user-inline' do %>
          <div class="user-inline__image">
            <% if visitor.image? %>
              <%= image_tag visitor.image.to_s %>
            <% else %>
              <%= image_tag 'nophoto.jpg' %>
            <% end %>
          </div>
          <%= visitor.username %>さんが
        <% end %>
      </span>
      <span class="block-notifications__action">
        <%
        case notification.action
          when 'follow' then
        %>
            あなたをフォローしました。
        <% when 'like' then %>
            <%= link_to('あなたの投稿', notification.post) %>にいいねしました。
        <% when 'comment' then %>
            <% if notification.post.user_id == visited.id %>
              <%= link_to('あなたの投稿', notification.post) %>
            <% else %>
              <%= link_to(notification.post.user.name, post_path(notification.post)) %>さんの投稿
            <% end %>
            にコメントしました。
        <% end %>
      </span>
      <div class="block-notifications__date"><%= time_ago_in_words(notification.created_at).upcase %>前に作成</div>
    </div>
  <% end %>
</div>