<div>
  <%
    notifications.each do |notification|
      visitor = notification.visitor
      visited = notification.visited
  %>
    <div class="block-notifications">
      <div class="block-notifications__main">
          <div class="block-notifications__user-img">
            <%= link_to user_path(visitor), class:'user-img-round' do %>
              <%= image_tag visitor.image? ? visitor.image.to_s: 'nophoto.jpg' %>
            <% end %>
          </div>
          <div class="block-notifications__text">
            <%= link_to(visitor.name, user_path(visitor)) %>さんが
            <span class="block-notifications__action">
              <%
              case notification.action
                when 'follow' then
              %>
                  あなたをフォローしました。
              <% when 'like' then %>
                  <%= link_to('あなたの投稿', notification.post) %>にいいねしました。
              <% when 'comment' then %>
                  <% if notification.post.user_id == visited.id %>
                    <%= link_to('あなたの投稿', notification.post) %>
                  <% else %>
                    <%= link_to(notification.post.user.name, post_path(notification.post)) %>さんの投稿
                  <% end %>
                  にコメントしました。
              <% end %>
            </span>
          </div>
      </div>
      <div class="block-notifications__footer">
        <div class="block-notifications__date"><%= time_ago_in_words(notification.created_at).upcase %>前に作成</div>
      </div>
    </div>
  <% end %>
</div>
