<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-12 col-lg-3">
      <div class="user-show">
        <div class="user-show__image">
          <% if @user.image? %>
            <%= image_tag @user.image.to_s %>
          <% else %>
            <%= image_tag 'nophoto.jpg' %>
          <% end %>
        </div>
        <div class="user-show__name"><%= @user.name %></div>
        <div class="user-show__username">@<%= @user.username %></div>
        <div class="user-show__d-flex mt-3">
          <div class="user-show__posts">
            <div class="user-show__count"><%= @user.posts.count %></div>
            <div class="user-show__count-name">投稿数</div>
          </div>
          <div class="user-show__follow">
            <div class="user-show__count"><%= @user.followings.count %></div>
            <div class="user-show__count-name">フォロー</div>
          </div>
          <div class="user-show__folloer">
            <div class="user-show__count"><%= @user.followers.count %></div>
            <div class="user-show__count-name">フォロワー</div>
          </div>
        </div>
        <% if user_signed_in? %>
          <% unless current_user == @user %>
            <div class="user-follow">
              <%= render partial: 'relationships/follow_button', locals: { user: @user, relationship: @relationship } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-9 m-auto">
      <div class="row row-cols-1 row-cols-sm-2 g-3 mb-5">
        <% @posts.each do |post| %>
          <%= render 'posts/card', post:post %>
        <% end %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>
