<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-12 col-lg-3">
      <%= render partial: 'users/user', locals: { user: @user, relationship: @relationship, posts: @user.posts.status_public } %>
    </div>
    <div class="col-12 col-lg-9 m-auto">
      <% if user_signed_in? && current_user == @user %>
        <ul class="nav nav-tabs mb-3">
          <li class="nav-item">
            <%= link_to '公開', user_path(@user), class:'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to '非公開', user_privates_path(@user), class:'nav-link' %>
          </li>
        </ul>
      <% end %>
      <% if @posts.count %>
        <% if user_signed_in? && current_user == @user %>
          <ul class="li-asterisk fs-0-9e"><li>すべての人に公開される記事です。</li></ul>
          <div class="fs-0-9e mb-3">投稿数：<%= @posts.count %></div>
        <% end %>
        <div class="row row-cols-1 row-cols-sm-2 g-3 mb-5">
          <% @posts.each do |post| %>
            <%= render 'posts/post-card', post:post %>
          <% end %>
        </div>
        <%= paginate @posts %>
      <% else %>
        <p class="text-center">記事はありません。</p>
      <% end %>
  </div>
</div>
