<div class="container">
  <h2 class="title-primary">Meal Share とは</h2>
  <div class="row align-items-center">
    <div class="col-12 col-md-6"><%= image_tag 'top-about.jpg' %></div>
    <div class="col-12 col-md-6">
      <p class="fs-md-1-2e">Meal Logsとは、食べ物をシェアするウェブサイトです。<br>みんなで美味しい食べ物をシェアしよう！</p>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="title-primary">Meal Share</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5">
    <% @posts.each do |post| %>
      <div class="col">
        <div class="card shadow-sm">
          <div class="bd-placeholder-img card-img-top">
            <% if post.image.to_s.empty? %>
              <%= image_tag 'nophoto.jpg' %>
            <% else %>
              <%= image_tag post.image.to_s %>
            <% end %>
          </div>

          <div class="card-body">
            <div class="card-title">
              <%= post.title %>
            </div>
            <div class="text-right">
              <div class="btn-group">
                <%= link_to '詳しく見る', post, class: 'btn btn-sm btn-outline-secondary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>









</div>