<div class="container">
  <%= form_with model: @user, url: user_session_path, id:'new_user', class:'form-signin', method: :post, local: true do |f| %>
    <h1 class="title-primary text-center">ログイン</h1>
    <div class="field">
      <%= f.label :login, class:'sr-only' %>
      <%= f.text_field :login, class:'form-control', placeholder:'Eメールアドレス or ユーザーID' %>
      <%= f.label :password, class:'sr-only' %>
      <%= f.password_field :password, autocomplete: 'current-password', class:'form-control', placeholder:'パスワード' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox mb-3">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          ログインを記録
        <% end %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit 'ログイン', class:'btn btn-lg btn-primary btn-block' %>
    </div>

    <div class="mt-5"><%= render 'devise/shared/links' %></div>
  <% end %>

</div>