<%= form_with(model: post, local: true) do |form| %>
  <div class="row">
    <div class="col-12 col-lg-10">
      <% if post.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <h2 class="alert-heading"><%= pluralize(post.errors.count, '件のエラー') %>により投稿が保存されませんでした。</h2>
          <hr>
          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.text_field :title, class: 'form-control', placeholder: 'タイトル：料理名、ごはんの名前' %>
      </div>

      <div class="form-file custom-file mb-3">
        <%= form.file_field :image, class:'form-file-input custom-file-input' %>
        <%= form.hidden_field :image_cache %>
        <%= form.label :image, class:'form-file-label custom-file-label' do %>
          <span class="form-file-text">料理、ごはんの画像を選択</span>
        <% end %>
      </div>

      <div class="field">
        <%= form.text_area :content, class: 'form-control', placeholder: '美味しいポイントを記入してください。', rows:10 %>
      </div>


    </div>
    <div class="col-12 col-lg-2">
      <% if !current_page?(new_post_path) %>
        <div class="mb-2 text-right">
          <%= link_to '投稿を確認', @post, class:'btn btn-secondary text-white w-100' %>
        </div>
      <% end %>

      <div class="text-right">
        <%= form.submit('更新', class:'btn btn-dark w-100') %>
      </div>


      <div class="scroll">
        <h2 class="font-weight-bold border-bottom mb-3">カテゴリ</h2>
        <div class="cat-group">
          <%= form.collection_check_boxes(:cat_ids, Cat.where(user_id: current_user.id), :id, :name, include_hidden: true) do |b| %>
            <div class="form-check">
              <%= b.check_box(class:'form-check-input') %>
              <%= b.label(class:'form-check-label') do %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="text-right">
          <small><%= link_to("新規追加", "/cats/new") %></small>
        </div>
      </div>





    </div>

  </div>
<% end %>