<div class="container">
  <%= link_to 'test', new_user_session_path %>
  <%= link_to 'test', new_user_password_path %>
  <%= link_to 'test', edit_user_password_path %>
  <%= link_to 'test', cancel_user_registration_path %>
  <%= link_to 'test', new_user_registration_path %>
  <%= link_to 'test', edit_user_registration_path %>
  <div class="row">
    <div class="col-12 col-lg-8">
      <h2 class="title-primary">New Meals</h2>
      <div class="row row-cols-1 row-cols-sm-2 g-3 mb-5">
        <% @posts.each do |post| %>
          <%= render 'posts/card', post:post %>
        <% end %>
      </div>
      <%= paginate @posts %>
    </div>
    <div class="col-12 col-lg-4">
      <%= render 'posts/simple-rank' %>
    </div>
  </div>
</div>