<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="post-user">
        <%= link_to user_path(@post.user), class:'post-user__image' do %>
          <%= image_tag 'nophoto.jpg' %>
        <% end %>
        <%= link_to user_path(@post.user), class:'post-user__name' do %>
          @<%= @post.user.username %>
        <% end %>
        <div class="post-user__date"><%= l @post.created_at, format: :short %>に投稿</div>
      </div>
      <h1 class="title-primary"><%= @post.title %></h1>
      <div><%= image_tag @post.image.to_s %></div>
      <div>
        <strong>Content:</strong>
        <%= @post.content %>
      </div>

<h3><%= @post.user.email %></h3>
<h3><%= @post.content %></h3>
<h3>いいね件数: </h3>
<% if current_user.already_liked?(@post) %>
  <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
<% else %>
  <%= button_to 'いいね', post_likes_path(@post) %>
<% end %>




<%= form_with model: [@post, @comment], local: true do |form| %>
  <div class = 'form-group'>
    <%= form.text_area :content %>
  </div>

  <%= form.submit 'コメントする' %>
<% end %>
<div>
  <% @comments.each do |comment| %>
    <div><%= comment.user.username %></div>
    <div><%= comment.content %></div>
    <div><%= link_to '削除', post_comment_path(@post, comment), method: :delete %></div>
  <% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


    </div>
    <div class="col-12 col-lg-4">
      <%= render 'posts/simple-rank' %>
    </div>
  </div>
</div>