<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="post-user">
        <%= link_to user_path(@post.user), class:'post-user__image' do %>
          <%= image_tag 'nophoto.jpg' %>
        <% end %>
        <%= link_to user_path(@post.user), class:'post-user__name' do %>
          @<%= @post.user.username %>
        <% end %>
        <div class="post-user__date"><%= l @post.created_at, format: :short %>に投稿</div>
      </div>

      <h1 class="title-primary mt-0"><%= @post.title %></h1>

      <%= render 'cats/post-cats', post:@post %>

      <div><%= image_tag @post.image.to_s %></div>
      <div><%= @post.content %></div>

      <div class="post-like">
        <% if current_user.already_liked?(@post) %>
          <%= link_to 'Like', post_like_path(@post), method: :delete, class:'post-like__cancel' %>
        <% else %>
          <%= link_to 'Like', post_likes_path(@post), method: :post, class:'post-like__enable' %>
        <% end %>
        <div class="post-like__num"><%= @post.likes.count %></div>
      </div>




<%= form_with model: [@post, @comment], local: true do |form| %>
  <div class = 'form-group'>
    <%= form.text_area :content %>
  </div>

  <%= form.submit 'コメントする' %>
<% end %>
<div>
  <% @comments.each do |comment| %>
    <div><%= comment.user.username %></div>
    <div><%= comment.content %></div>
    <div><%= link_to '削除', post_comment_path(@post, comment), method: :delete %></div>
  <% end %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


    </div>
    <div class="col-12 col-lg-4">
      <%= render 'posts/simple-rank' %>
    </div>
  </div>
</div>