<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 m-auto">
      <h1 class="title-primary">カテゴリ一覧</h1>
      <%= link_to '新規作成', new_cat_path, class:'btn btn-dark w-100 mb-3 text-white' %>

      <ul class="list-group mb-3">
        <% @cats.each do |cat| %>
          <li class="list-group-item">
            <div><%= cat.name %></div>
            <div class="d-flex flex-row">
              <div class="p-2"><%= link_to '詳細', cat %></div>
              <div class="p-2"><%= link_to '編集', edit_cat_path(cat) %></div>
              <div class="p-2"><%= link_to '削除', cat, method: :delete, data: { confirm: '本当に削除しますか?' } %></div>
            </div>
          </li>
        <% end %>
      </ul>

      <%= paginate @cats %>
    </div>
  </div>
</div>