<ul class="footer-fixed">
  <li>
    <%= link_to posts_path, class: "footer-fixed-icon#{ ' is_active' if current_page?(posts_path)}" do %>
      <i class="fas fa-home"></i>
    <% end %>
  </li>
  <li>
    <%= link_to search_posts_path, class: "footer-fixed-icon#{ ' is_active' if current_page?(search_posts_path)}" do %>
      <i class="fas fa-search"></i>
    <% end %>
  </li>
  <li>
    <%= link_to ranking_posts_path, class: "footer-fixed-icon#{ ' is_active' if current_page?(ranking_posts_path)}" do %>
      <i class="fas fa-chart-line"></i>
    <% end %>
  </li>
  <li>
    <%= link_to user_path(current_user), class: "footer-fixed-icon footer-fixed-user#{ ' is_active' if current_page?(user_path(current_user))}" do %>
      <span class="footer-fixed-user__inner">
        <%= render partial: 'layouts/img-square', locals: { image: current_user.image, version: "small_thumb" } %>
      </span>
    <% end %>
  </li>
</ul>
