<div class="header-menu shadow-sm modal-area__content" style="display:none;">
  <div class="header-menu__items">
    <%= link_to user_path(current_user), class: 'header-menu__item header-menu__d-flex' do %>
      <div class="header-menu__user-col-left header-menu__user-img">
        <%= image_tag current_user.image? ? current_user.image.to_s: 'nophoto.jpg' %>
      </div>
      <div class="header-menu__user-col-right">
        <div class="header-menu__user-name">
          @<%= current_user.username %>
        </div>
        <div class="header-menu__user-msg">
          マイページを見る
        </div>
      </div>
    <% end %>
  </div>
  <div class="header-menu__items">
    <%= link_to edit_user_registration_path, class: 'header-menu__item header-menu__d-flex' do %>
      <div class="header-menu__icon"><i class="fas fa-cog"></i></div>
      <div class="header-menu__name">設定</div>
    <% end %>
    <%= link_to destroy_user_session_path, class: 'header-menu__item header-menu__d-flex', method: :delete do %>
      <div class="header-menu__icon"><i class="fas fa-sign-out-alt"></i></div>
      <div class="header-menu__name">ログアウト</div>
    <% end %>
  </div>
</div>
