<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/googleanalytics' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex">
    <title>Meal Share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render partial: 'layouts/header-signed-in' %>
      <% else %>
        <%= render partial: 'layouts/header' %>
      <% end %>

      <% if notice %>
        <%= render partial: 'layouts/notice', locals: { notice: notice } %>
      <% end %>
      <% if alert %>
        <%= render partial: 'layouts/alert', locals: { alert: alert } %>
      <% end %>

      <% if current_page?(root_path) %>
        <%= render partial: 'home/main-visual' %>
      <% end %>
    </header>
    <main>

    <%= yield %>

    </main>
    <footer>
      <%= render partial: 'layouts/footer' %>

      <% if user_signed_in? %>
        <%= render partial: 'layouts/footer-fixed' %>

        <% unless current_page?(new_post_path) %>
          <%= link_to new_post_path, class: "footer-post shadow-lg" do %>
            <span class="footer-post__inner">
              <i class="fas fa-edit"></i>
              <span class="footer-post__name is_show">投稿する</span>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </footer>
  </body>
</html>
