<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178425535-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-178425535-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex">
    <title>Meal Share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="https://kit.fontawesome.com/ea5e772f5e.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="container__break color_bg-primary">
          <div class="header">
            <div class="header__logo"><%= link_to "Meal Share", root_path %></div>
            <% if user_signed_in? %>
              <div class="header__icon">
                <%= link_to  notifications_path do %>
                  <i class="fas fa-bell"></i>
                  <span>通知</span>
                  <% if unchecked_notifications.any? %>
                    <div class="header__notifications-new"></div>
                  <% end %>
                <% end %>
              </div>
              <div class="btn-group header__btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <%= link_to user_path(current_user), class:'dropdown-item' do %>
                        <i class="fas fa-user"></i>
                        <span>マイページ</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_post_path, class:'dropdown-item' do %>
                        <i class="fas fa-plus-circle"></i>
                        <span>新規投稿</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to cats_path, class:'dropdown-item' do %>
                        <i class="fas fa-tags"></i>
                        <span>カテゴリ</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_user_registration_path, class:'dropdown-item' do %>
                        <i class="fas fa-user-edit"></i>
                        <span>ユーザー情報編集</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, class:'dropdown-item', method: :delete do %>
                        <i class="fas fa-sign-out-alt"></i>
                        <span>ログアウト</span>
                    <% end %>
                  </li>
                </ul>
              </div>
            <% else %>
              <div class="header__icon">
                <%= link_to new_user_registration_path do %>
                  <i class="fas fa-user-plus"></i>
                  <span>会員登録</span>
                <% end %>
              </div>
              <div class="header__icon">
                <%= link_to  new_user_session_path do %>
                  <i class="fas fa-sign-in-alt"></i>
                  <span>ログイン</span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% if notice %>
        <div class="alert alert-primary alert-dismissible fade show alert-position container" role="alert">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show alert-position container" role="alert">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <% if current_page?(root_path) %>
        <div class="container">
          <div class="container__break main-visual">
            <div class="container__break main-visual__inner">
              <div class="main-visual__logo">Meal Share</div>
              <div class="main-visual__sub">美味しい食べ物をシェアしよう</div>
            </div>
          </div>
        </div>
      <% end %>
    </header>
    <main>

    <%= yield %>

    </main>
    <footer>
      <div class="container">
        <div class="container__break color_bg-black">
          <div class="footer">
            <div class="footer-logo">
              <%= link_to "Meal Share", root_path %>
            </div>
            <div class="footer-copyright">
              ©2020 <%= link_to "Meal Share", root_path %> Allright Reserved.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
