<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/googleanalytics' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex">
    <title>Meal Share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v8.0" nonce="eFEm26T8"></script>
    <header>
      <div class="container">
        <div class="container__break color_bg-primary">
          <div class="header">
            <div class="header__logo">
              <% if user_signed_in? %>
                <%= link_to "Meal Share", posts_path %>
              <% else %>
                <%= link_to "Meal Share", root_path %>
              <% end %>
            </div>
            <% if user_signed_in? %>
              <div class="header__icon">
                <%= link_to  notifications_path do %>
                  <i class="fas fa-bell"></i>
                  <span>通知</span>
                  <% if unchecked_notifications.any? %>
                    <div class="header__notifications-new"></div>
                  <% end %>
                <% end %>
              </div>
              <div class="btn-group header__btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <%= link_to user_path(current_user), class:'dropdown-item' do %>
                        <i class="fas fa-user"></i>
                        <span>マイページ</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_post_path, class:'dropdown-item' do %>
                        <i class="fas fa-plus-circle"></i>
                        <span>新規投稿</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to cats_path, class:'dropdown-item' do %>
                        <i class="fas fa-tags"></i>
                        <span>カテゴリ</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_user_registration_path, class:'dropdown-item' do %>
                        <i class="fas fa-user-edit"></i>
                        <span>ユーザー情報編集</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, class:'dropdown-item', method: :delete do %>
                        <i class="fas fa-sign-out-alt"></i>
                        <span>ログアウト</span>
                    <% end %>
                  </li>
                </ul>
              </div>
            <% else %>
              <div class="header__icon">
                <%= link_to new_user_registration_path do %>
                  <i class="fas fa-user-plus"></i>
                  <span>会員登録</span>
                <% end %>
              </div>
              <div class="header__icon">
                <%= link_to  new_user_session_path do %>
                  <i class="fas fa-sign-in-alt"></i>
                  <span>ログイン</span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% if notice %>
        <div class="mt-3 alert alert-primary alert-dismissible fade show container" role="alert">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if alert %>
        <div class="mt-3 alert alert-danger alert-dismissible fade show container" role="alert">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <% if current_page?(root_path) %>
        <div class="container">
          <div class="container__break main-visual">
            <div class="container__break main-visual__inner">
              <div class="main-visual__logo">Meal Share</div>
              <div class="main-visual__sub">美味しい食べ物をシェアしよう</div>
            </div>
          </div>
        </div>
      <% end %>
    </header>
    <main>

    <%= yield %>

    </main>
    <footer>
      <div class="container">
        <div class="container__break color_bg-black">
          <div class="footer">
            <div class="footer-logo">
              <% if user_signed_in? %>
                <%= link_to "Meal Share", posts_path %>
              <% else %>
                <%= link_to "Meal Share", root_path %>
              <% end %>
            </div>
            <div class="footer-copyright">
              ©2020
              <% if user_signed_in? %>
                <%= link_to "Meal Share", posts_path %>
              <% else %>
                <%= link_to "Meal Share", root_path %>
              <% end %>
              Allright Reserved.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
